<div class="row">
  <div class="col-3">
    <h5>Zona:</h5> <!--<button (click)="imprimirNoEntregados()">Imprimir</button>-->
  </div>
  <div class="col-9">
    Mostrar pedidos entregados: <input type="checkbox" (change)="cambiarEntregados()">
  </div>
</div>
<select class="form-select" aria-label="Default select example" [(ngModel)]="zonaElegida" (change)="cambiarZona()">
  <option selected="true" disabled="disabled" value="default">Elija una zona</option>
  <option *ngFor="let zona of zonas">{{zona.nombre}}</option>
</select>


<div class="pedidos" *ngIf="pedidosActual">
  <div class="row cuadro" *ngFor="let pedido of pedidosActual; let i = index">
    <!--<div *ngIf="pedido.estado==0">-->
    <div class="col-2"></div>
    <div class="col-8" style="border:solid; border-color:black; border-width: 4px; padding: 15px;width:70%;margin-top:20px">
      <div class="row">
        <div class="col-3">
          <h4>{{pedido.cliente}}</h4>
        </div>
        <div class="col-3">{{pedido.direccion}}</div>
        <div class="col-4">{{pedido.fechaEntrega}}</div>
        <div class="col-2">
          <button style="float: right;" *ngIf="pedido.estado==0" class="btn btn-primary"
            (click)="cambiarEstado(pedido.id,1,i)">Entregar</button>
          <p style="float: right;"  *ngIf="pedido.estado==1">Entregado</p>
        </div>

      </div>
      <p *ngFor="let prod of pedido.productos">{{prod.cantidad}} {{prod.medida}} {{prod.nombre}} - {{prod.comentario}}
      </p>
      <p>Total: ${{pedido.precio}} <span *ngIf="pedido.comentario" style="margin-left: 20px;">Comentario: {{pedido.comentario}}</span> <span style="float: right;"><button [routerLink]="['/pedidos-alta']" [queryParams]="{pedidoInput:pedido | json }" class="btn btn-primary">Editar</button></span></p>
    </div>
    <div class="col-2">
      
    </div>
  </div>

  <div class="text-center" style="margin-top:40px;" *ngIf="pedidosActual.length==0">
    <h5>No hay pedidos para mostrar</h5>
  </div>
  <!--</div>-->
</div>