
<h5>Zona:</h5>
<select class="form-select" aria-label="Default select example" [(ngModel)]="zonaElegida" (change)="cambiarZona()">
    <option selected="true" disabled="disabled" value="default">Elija una zona</option>
    <option *ngFor="let zona of zonas">{{zona.nombre}}</option>
  </select>


  <div class="pedidos">
    <div style="border:solid; border-color:black; border-width: 4px; padding: 15px;width:50%;" *ngFor="let pedido of pedidosActual">
      <div class="row">
        <div class="col-3"><h4>{{pedido.cliente}}</h4></div>
        <div class="col-9">{{pedido.direccion}}</div>
      </div>
        <p *ngFor="let prod of pedido.productos">{{prod.cantidad}} {{prod.medida}} {{prod.nombre}} - {{prod.comentario}}</p>
        <p>Total: ${{pedido.precio}}</p>
    </div>
  </div>