
<h5>Zona:</h5>
<select class="form-select" aria-label="Default select example">
    <option selected>Todas</option>
    <option value="1">Temperley</option>
    <option value="2">Canning</option>
    <option value="3">Monte grande</option>
  </select>
<table class="table text-center" style="margin-top:20px;">
    <thead>
      <tr>
        <th scope="col">Fecha de entrega</th>
        <th scope="col">Cliente</th>
        <th scope="col">Zona</th>
        <th scope="col">Direccion</th>
        <th scope="col">Cant. Proudctos</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11/11/1111</td>
        <td>Cliente1</td>
        <td>Temperley</td>
        <td>Calle 123</td>
        <td>6</td>
      </tr>
      <tr>
        <td>11/11/1111</td>
        <td>Cliente1</td>
        <td>Temperley</td>
        <td>Calle 123</td>
        <td>6</td>
      </tr>
      <tr>
        <td>11/11/1111</td>
        <td>Cliente1</td>
        <td>Temperley</td>
        <td>Calle 123</td>
        <td>6</td>
      </tr>
    </tbody>
  </table>